
input#dark.variation(type="radio" value="4" name="color")
label(for="dark")

main
	section.colors
		h6 BIO
		p
		p
		h3 Some Text About me
		p
				p I think we need to start from start.
				p
					strong  BE bold.
				p
					em  Make this italic on me.
	section.typography
		h6 MILLAN KAUL
		div.font-family
			div.font-family-medium
				h1 I aMillan KAUL
				p
				h7 -- a student of life's lessons
		div.font-example
			div.font-example__headline
				h6.subheader Headlines
				h2 h2 headline
				h6 h6 headline
			div.font-example__bodytext
				h6.subheader Body Text
				p I think we need to start from scratch.
				p
					strong  Can you add a bold.
				p
					em  Make this italic.
	section.buttons-wrapper
		h6 Buttons
		div.buttons
			a.button Default Button
			div
				a.button.medium Medium Button
	section.links
		h6 Links
		.links__sec
			a.link Sample Link
			br
			a.link.hover Hovered Link
	section.inputs-selects
		h6 ENTER YOUR GITHUB USER NAME HERE
		div.inputs
			.input__wrapper
				label.label-form A Normal Input
				input.input-form(type="text" placeholder="type here..")
				p.feedback-form A message here.
			.input__wrapper
				label.label-form Select your language
				select(type="text" placeholder="Selct")
					option(value='1') English UK
					option(value='2') English US	
		div.textarea-select
			.input__wrapper
				label.label-form Is there something else you want to share ?
				textarea(type="text" placeholder="I want to..")
			h6.subheader Toggle Buttons
			.checkbox-toggle
				input#toggle-checkbox(type="checkbox")
				label(for="toggle-checkbox")

		div.checkboxes
			h6.subheader Checkboxes
			.checkbox
				input#checkbox-1(type="checkbox")
				label(for="checkbox-1") Checkbox
					span.box
			.checkbox
				input#checkbox-2(type="checkbox" checked)
				label(for="checkbox-2") Checked Box
					span.box

		div.radio-buttons
			h6.subheader Radio Buttons
			.radio
				input#radio-1(type="radio" name="radio-test" value="1" checked)
				label(for="radio-1") Radio Button
			.radio
				input#radio-2(type="radio" name="radio-test" value="1")
				label(for="radio-2") Selected Radio Button
	section.badges
		h6 Badges
		span.badge.status-primary Received
		span.badge.status-secondary Pending
		span.badge.status-info Pending
		span.badge.status-success Approved
		span.badge.status-error Rejected
	section.tooltips
		h6 Tooltips
		div
			.tooltip.bottom(data-tooltip="Hello 👋") 
				span Bottom Tooltip
	section.alerts
		h6 Alerts
		.alert.status-info An Info alert.
		.alert.status-error A warning alert.
	section.loading
		h6 loading indicators
		div.spinner-2
			.spinner(data-loading="Loading...")
			label Loading...

footer
	.explanation
		| Thank you for inspiration  
		a(href="https://twitter.com/meowlivia_/status/1116784686640979968" target="_blank") Olivia Ng.
		| .
	.social
		a(href="https://github.com/eaccmk" target="_blank")
			i.icon-social-github.icons