/* styleMain.css */
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}
.skip-link:focus {
  top: 0;
}

html, body{
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 100;

}

section{
  width: 100vw;
  height: 90vh;
  margin: 0 -999rem;
  position: relative;
  text-align: center;
}

#welcomeSection{
  background-color:black ;
  color: white;
  text-align: center;
}

#About{
  background-color: black;
  color: white;
}

#About p, #Skills p{
  padding: 0 120px;
  text-align: center;
}

#Skills{
  background-color: white;
  color: black;
}

#Work{
  background-color: black;
  color: white;
}

#Contact{
  background-color: white;
  color: black;
}

#Credits{
  background-color: black;
  color: white;
}

img{
  padding: 5px 5px 5px 5px;
}

nav {
  margin: 0 auto;
}

nav ul {
  list-style-type: none:
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-right: 25px;
  display: inline-block;
  color: white;
  transition: ease-out .2s;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  transform: rotate(5deg);
}

/* https://www.w3schools.com/w3css/3/w3.css */

.w3-container{padding:0.01em 16px}
.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}
.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}
.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}
.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}
.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}
.w3-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}
.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-position{position:absolute}

 
.w3-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
