/* styleMain.css */
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}
.skip-link:focus {
  top: 0;
}

html, body{
/*  overflow: auto;
  overflow-x: hidden;
  /*  color: black;*/
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 100;	
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  /* color: #fff; */
}

.nav-fixed .gg-moon,
.nav-fixed .gg-moon:after {
  color: var(--heading-color);
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
}

.mode-container i.gg-moon {
  display: block;
  cursor: pointer;
}

input:checked+.mode-container i.gg-sun {
  display: block;
  cursor: pointer;
}

input:checked+.mode-container i.gg-moon {
  display: none;
}


footer 
.push {
  background-color: white;
  height: 10vh;
}
  
.welcomePageHeading {
  color: red;
  padding: 120px 5px 5px 5px;
}
.pageHeading {
  color: red;
  padding: 40px 5px 5px 5px;
}

section{
  width: 100vw;
  height: 90vh;
  position: relative;
  text-align: center;
  padding: 0px;
  min-height: 100%;
  margin: 0 auto 0px;
}

#welcomeSection, #pageSection, #WeatherSection, #RoulletSection{ 
  background-color:black;
  color: white;
  text-align: center;
}

#Contact{
  background-color: white;
  color: black;
}

img{
  padding: 5px 5px 5px 5px;
}

nav {
  padding: 120px 20px 80px 10px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none:
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-right: 12px;
  display: inline-block;
  color: white;
  transition: ease-out .2s;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  transform: rotate(360deg);
}

/* Reset */
*:before, *:after { content: ''; }
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

.page-devider-line {
  position: relative;
  border-width: 5px;
  border-color: hsl(0, 0%, 50%) transparent;
  height: 11px;
  border-style: double;
  width: 50%;
}
.page-devider-line:before, .page-devider-line:after {
  position: absolute;
  bottom: -3.536px;
  width: 7.071px;
  height: 7.071px;
  display: block;
  border-width: 0 7.071px 7.071px 0;
  border-color: hsl(0, 0%, 50%);
  border-style: double;
  box-sizing: border-box;
}
.page-devider-line:before {
  transform: translateZ(0) rotate(-45deg);
  left: -21px;
}
.page-devider-line:after {
  transform: translateZ(0) rotate(135deg);
  right: -21px;
}

.btnWrapper {
	text-align: center;
}

.back2home {
	background-color: black;
	color: white;
	margin:50 auto;
/*	margin: 10px 35%;*/
	border: 0.5px solid white;
	border-radius: 0px;
	letter-spacing: 0.5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: .5rem .5rem;
	font-size: 0.75rem;
	line-height: .5;
}

.back2home:hover {
	background-color: white;
	color: black;
	right: 0px;
	border-color: black;
}

/* https://www.w3schools.com/w3css/3/w3.css */

.w3-container{padding:0.01em 16px}
.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}
.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}
.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}
.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-position{position:absolute}

