html, body{
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 100;

}
/* style.css */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

section{
  position: relative;
  margin: 0 -999rem;
  padding: 5.25rem 999rem;
  text-align: center;
}

#welcomeSection{
  background-color: white;
  color: black;
}

#About{
  background-color: black;
  color: white;
}

#About p, #Skills p{
  padding: 0 120px;
  text-align: center;
}

#Skills{
  padding: 25px 25px 25px 25px;
  background-color: white;
  color: black;
}

#Work{
  background-color: black;
  color: white;
}

#Contact{
  background-color: white;
  color: black;
}

#Credits{
  background-color: black;
  color: white;
}

img{
  padding: 5px 5px 5px 5px;
}

nav {
  margin: 0 auto;
}

nav ul {
  list-style-type: none:
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-right: 25px;
  display: inline-block;
  color: black;
  transition: ease-out .2s;
}

nav ul li a:hover {
  text-decoration: none;
  color: black;
  transform: rotate(5deg);
}