body {
  background-color: white;
}

#ltp {
  margin-top: -1%;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 14px;
  text-align: center;
}

#myimg {
  display: block;
  margin: 0 auto;
	width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

#result {
  font-weight: bold;
}

#rp {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 28px;
  text-align: center;
}

