body {
  background-color: white;
}

#ltp {
  margin-top: -1%;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 14px;
  text-align: center;
}

#myimg {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

#result {
  font-weight: bold;
}

#rp {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 28px;
  text-align: center;
}
#myimg.heads {
	-webkit-animation: flipHeads 3s ease-out forwards;
	-moz-animation: flipHeads 3s ease-out forwards;
	-o-animation: flipHeads 3s ease-out forwards;
	animation: flipHeads 3s ease-out forwards;
}

#myimg.tails {
	-webkit-animation: flipTails 3s ease-out forwards;
	-moz-animation: flipTails 3s ease-out forwards;
	-o-animation: flipTails 3s ease-out forwards;
	animation: flipTails 3s ease-out forwards;
}

#myimg.spin {
	-webkit-animation: flipNow 3s ease-out forwards;
	-moz-animation: flipNow 3s ease-out forwards;
	-o-animation: flipNow 3s ease-out forwards;
	animation: flipNow 3s ease-out forwards;
}

@-webkit-keyframes flipNow {
from { -webkit-transform:rotateY(0); -oz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform:rotateY(1800deg); -oz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

@-webkit-keyframes flipHeads {
from { -webkit-transform:rotateY(0); -oz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform:rotateY(1800deg); -oz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

@-webkit-keyframes flipTails {
from { -webkit-transform:rotateY(0); -oz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform:rotateY(1800deg); -oz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

.btnWrapper {
	text-align: center;
}

.back2home {
	border: 1px solid orange;
	border-radius: 0px;
	font-weight: bold;
	letter-spacing: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
}

.back2home:hover {
	background-color: black;
	color: white;
	right: 0px;
	border-color: #ffc8c8;
}
