.weatherwidget-io {
 background-color:white;
 margin-left:10px;
 margin-top:10px;
 margin-top:10px;
 margin-top:10px;
}

#weather{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
