#myimg {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

#result {
  font-weight: bold;
}

#rp {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

#ltp {
  margin-top: -1%;
/*  font-family: 'Roboto', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 15px;
  text-align: center;
}

#myimg.heads {
	-webkit-animation: flipHeads 3s ease-out forwards;
	-moz-animation: flipHeads 3s ease-out forwards;
	-o-animation: flipHeads 3s ease-out forwards;
	animation: flipHeads 3s ease-out forwards;
}

#myimg.tails {
	-webkit-animation: flipTails 3s ease-out forwards;
	-moz-animation: flipTails 3s ease-out forwards;
	-o-animation: flipTails 3s ease-out forwards;
	animation: flipTails 3s ease-out forwards;
}

#myimg.spin {
	-webkit-animation: flipNow 3s ease-out forwards;
	-moz-animation: flipNow 3s ease-out forwards;
	-o-animation: flipNow 3s ease-out forwards;
	animation: flipNow 3s ease-out forwards;
}

@-webkit-keyframes flipNow {
from { -webkit-transform:rotateY(0); -oz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform:rotateY(1800deg); -oz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

@-webkit-keyframes flipHeads {
from { -webkit-transform:rotateY(0); -oz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform:rotateY(1800deg); -oz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

@-webkit-keyframes flipTails {
from { -webkit-transform:rotateY(0); -oz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform:rotateY(1800deg); -oz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}
